.nav {
    width: 100%;
    height: 80px;
    background: black;

    display: flex;
    justify-content: space-between;   /* IMPORTANT */
    align-items: center;

    padding: 0 40px;
    box-sizing: border-box;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-center {
    display: flex;
    gap: 40px;
}

.nav-center a:hover,
.nav-center .active {
    color: #ffcc33; 
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav-logo {
    height: 50px;
}

.nav-title {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-center a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity 0.25s ease;
}

.icon:hover {
    opacity: 0.7;
}